body  {
  background-color: rgb(1, 34, 48);
}

.nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  background-color: rgb(23, 93, 125);
  color: rgba(255, 255, 255, 0.914);
  box-shadow: 0px 2.98256px 20px rgba(0, 0, 0, 0.817);
  position: sticky;
  top: 0;
  z-index: 2;
}

.add-job {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-bottom: 20px;
}

.sticky-count {
  padding: 15px;
  background-color: rgba(1, 34, 48, 0.97);
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: rgba(255, 255, 255, 0.914);
}

.status-counts {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: rgba(255, 255, 255, 0.914);
}

.statuses {
  margin-right: 20px;
  font-size: 20px;
}

.job-filter {
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.job-filter .rbt-input-hint-container,
.job-filter .rbt-input-main {
  width: 250px;
  display: flex;
  border: 1px;
  background-color: rgba(255, 255, 255, 0.914);
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 2.98256px 10px rgba(0, 0, 0, 0.817);
}

.search-button {
  display: flex;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.914);
}

.clear-button {
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.914);
}

.job-list {
  padding: 80px 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
}

.job {
  background-color: rgb(23, 93, 125);
  color: rgba(255, 255, 255, 0.914);
  padding: 10px;
  height: 300px;
  width: 215px;
  font-size: 20px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  border: 1px;
  border-color: rgb(23, 93, 125);
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 2.98256px 10px rgba(0, 0, 0, 0.817);
}

.company-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
}

.job-role {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

.job-salary {
  text-overflow: ellipsis;
  color: rgb(1, 34, 48);
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

.status-style {
  margin-bottom: -5px;
}

.update-button {
  display: flex;
  align-self: flex-end;
}

.modal-header {
  color: rgb(0, 0, 0);
}

.modal-body {
  color: rgb(0, 0, 0);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.date-input, .dropdown {
  width: 220px;
}